<!-- Footer start -->

<footer class="footer">

 <div class="footer">
            <div class="container" style="color: black;">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact">
                            <h2>Get In Touch</h2>
                            <p><i class="fa fa-map-marker-alt" style="font-size:25px; margin-right:10px; "></i>123 Street, New York, USA</p>
                            <p><i class="fa fa-phone-alt" style="font-size:25px; margin-right:10px; "></i>+012 345 67890</p>
                            <p><i class="fa fa-envelope" style="font-size:25px; margin-right:10px; "></i>info@example.com</p>
                               <ul style="display:flex;  justify-content:space-between; background:black; ">
                            <li><a href="" target="_blank" class="btn"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a></li>
                            <li><a href="" target="_blank" class="btn"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a></li>
                            <li><a href="" target="_blank" ><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a></li>
                            <li><a href="" target="_blank" ><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a></li>
                        </ul>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> About Us</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Contact Us</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Our Service</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Service Points</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Pricing Plan</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Terms of use</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Privacy policy</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Cookies</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> Help</p>
                            <p href=""><i class="fa-solid fa-caret-right" style="color: #ffffff;"></i> FQAs</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" style>
                        <div class="footer-newsletter">
                            <h2>Newsletter</h2>
                            <form>
                                <input class="form-control" placeholder="Full Name">
                                <input class="form-control" placeholder="Email">
                                <button class="btn btn-custom">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container copyright" >
                <p>&copy; <a href="#">Engine Gallery</a>, All Right Reserved. Designed By AnYaZe</p>
            </div>
        </div>
</footer>
<!-- Footer end -->
